/* ------------------------------------
 #                Body
 -------------------------------------- */

.theBody {
    position: relative;
    z-index: 1;
    background: rgba(242, 243, 249, 0.5);
    backdrop-filter: blur(24px);
}