/* ------------------------------------
 #                 FAQ
 -------------------------------------- */

.faq {
    position: relative;
    padding-top: 180px;

    &::before {
        display: block;
        content: '';
        position: absolute;
        z-index: -1;
        top: -190px;
        left: -100px;
        width: 380px;
        height: 380px;
        background: radial-gradient(50% 50% at 50% 50%, rgba(123, 97, 255, 0.7) 0%, rgba(123, 97, 255, 0.448437) 28.12%, rgba(123, 97, 255, 0) 100%);
        filter: blur(30px);
    }
}

.faq__container {
    @extend .container--fluid;
}

.faq__content {
    display: flex;
    justify-content: space-between;
    gap: 60px;

    .faq__title {
        @extend .light;
        font-size: 65px;
        margin-bottom: 45px;
        letter-spacing: -0.03em;
    }

    .btn {
        margin-top: 60px;
    }
}

.faq__info {
    flex-basis: 45%;
}

.faq__questions {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 45%;
}

.question {
    padding: 22px 33px;
    background-color: $color-gray;
    border-radius: 20px;
    position: relative;
    
    &.acordion.active .icon--arrow::after {
        transform: rotate(180deg);
    }
}

.question__title {
    @extend .medium;
    display: block;
    max-width: 375px;
    font-size: $font-h3;
    line-height: 1.5;
    cursor: pointer;
}

.question__content {
    display: none;
    margin-top: 20px;
    margin-right: 40px;

    .acordion.active & {
        display: block;
    }
}