/* ------------------------------------
 #                Footer
 -------------------------------------- */

.footer {
    position: relative;
    padding: 40px 0;
}

.footer__container {
    @extend .container;
}

.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
        @extend .medium;
        font-size: $font-small;
        color: $color-black;
    }

    a {
        position: relative;
        font-size: $font-small;

        &::after {
            display: inline-block;
            content: '';
            margin-left: 5px;
            width: 13px;
            height: 13px;
            background-image: url('assets/img/heart.png');
            background-repeat: no-repeat;
            background-size: 100%;
            transition: transform ease-in .4s;
        }
    }
}
